@model ThreatModellingGame.Web.ViewModels.ChangePlayerNameViewModel

@{
    ViewBag.Title = "Register";
}

@Html.ValidationSummary()

@using (Html.BeginForm("Register", "Player"))
{
    <h2>Please enter your name to get started.</h2>

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    <input type="submit" value="Get Started" />
}