@model ThreatModellingGame.Web.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>
<p>This is the first beta version of the @(AppConfig.ApplicationName).</p>
<p>For more information please visit the <a href="https://github.com/dustinmoris/ThreatModellingGame">open source GitHub repository</a>.</p>
<h2>Play the game</h2>
<p>
    @Html.ActionLink("Start playing", "Details", "Player")
</p>