@model ThreatModellingGame.Web.Models.IndexModel

@{
    ViewBag.Title = "Home - Elevation of Privilege (EoP) Threat Modeling Card Game";
}

<h2>Welcome</h2>

<p>
    @Html.ActionLink("Start playing", "Index", "Player")
</p>