@using ThreatModellingGame.Web.Resources
@model ThreatModellingGame.Web.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<h2>Welcome fellow security enthusiast</h2>
<p>This is the first beta version of the @(string.Format("{0} - {1}", AllText.App_Title, AllText.App_SubTitle)).</p>
<p>For more information please visit the <a href="https://github.com/dustinmoris/ThreatModellingGame">open source GitHub repository</a>.</p>
<p>
    @Html.ActionLink("Start playing", "Details", "Player", null, new { @class = "btn btn-lg btn-success" })
</p>