@model ThreatModellingGame.Web.ViewModels.JoinGameViewModel

@{
    ViewBag.Title = string.Format("Join {0}", Model.Name);
}

@using (Html.BeginForm("Join", "Game"))
{
    <h2>Do you want to join the game &quot;@Model.Name&quot;?</h2>

    @*if (Model.Game.Players.Any())
    {
        <p>The following players are currently in the game:</p>
        <ul>
            @foreach (var player in Model.Game.Players)
            {
                <li>@player.Name</li>
            }
        </ul>
    }
    else
    {
        <p>No players in this game at the moment.</p>
    }*@
    
    @Html.HiddenFor(m => m.GameId)
    @Html.HiddenFor(m => m.Name)

    <input type="submit" value="Join Game" />
}