@using ThreatModellingGame.Web.Resources
@model ThreatModellingGame.Web.ViewModels.JoinGameViewModel

@{
    ViewBag.Title = string.Format("{0} {1}", AllText.Join, Model.Name);
}

@using (Html.BeginForm("Join", "Game"))
{
    <h2>@AllText.Want_To_Join_Game &quot;@Model.Name&quot;?</h2>
    
    @Html.HiddenFor(m => m.GameId)
    @Html.HiddenFor(m => m.Name)

    <input type="submit" value="@AllText.Join_Game" />
}