@model ThreatModelingGame.Web.Models.GameModel

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="game">
    <header>
        <h1></h1>
    </header>
</section>