@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>@Html.ActionLink(AppConfig.ApplicationName, "Index", "Home")</h1>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <p>Game invented by Microsoft | Online version powered by <a href="http://dusted.codes/">Dustin Moris Gorski</a></p>
</footer>