@model ThreatModelingGame.Web.Models.PlayerModel

@{
    ViewBag.Title = "Register - Elevation of Privilege (EoP) Threat Modeling Card Game";
}

@using (Html.BeginForm())
{
    <legend>Your Details</legend>

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    <input type="submit" value="Change Name" />
}

<h2>Games currently participating</h2>
<p>You are not participating in any games at the moment.</p>

<p>
    @Html.ActionLink("Start new Game", "New", "Game")
</p>

@using (Html.BeginForm("New", "Game"))
{
    <legend>Start new Game</legend>
    
    <label for="gamename">Name of new Game</label>
    <input type="text" id="gamename" name="gamename"/>

    <input type="submit" value="Create new Game" />
}