@model ThreatModelingGame.Web.Models.PlayerModel

@{
    ViewBag.Title = "Register - Elevation of Privilege (EoP) Threat Modeling Card Game";
}

@using (Html.BeginForm())
{
    <h2>Your Details</h2>

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    <input type="submit" value="Change Name" />
}

<h2>Games currently participating</h2>
@if (Model.GamesWithPlayer == null || !Model.GamesWithPlayer.Any())
{
    <p>You are not participating in any games at the moment.</p>
}
else
{
    foreach (var game in Model.GamesWithPlayer)
    {
        <ul>
            <li>@Html.ActionLink(game.Name, "Show", "Game", new { gameId = game.Id }, null)</li>
        </ul>
    }
}


@using (Html.BeginForm("New", "Game"))
{
    <h2>Start new Game</h2>

    <label for="gamename">Name of new Game</label>
    <input type="text" id="gamename" name="gamename" />

    <input type="submit" value="Create new Game" />
}