@model ThreatModelingGame.Web.Models.ChangePlayerNameModel

@{
    ViewBag.Title = "Register - Elevation of Privilege (EoP) Threat Modeling Card Game";
}

@Html.ValidationSummary()

@using (Html.BeginForm("Register", "Player"))
{
    <h2>Please enter your name to get started.</h2>
    
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    
    <input type="submit" value="Get Started"/>
}