@model ThreadModelingGame.Core.Player

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game</title>
    <style>
        body {
            font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
        }

         .card {
             float: left;
             width: 150px;
             height: 200px;
             border: 1px solid #333;
             border-radius: 5px;
             padding: 0.5em;
             margin: 2em;
             font-size: 0.95em;
         }

         h4 {
             margin: 0 0 1em 0;
         }
    </style>
</head>
<body>
    <div>
        <h1>Your cards</h1>
        @foreach (var card in Model.Hand)
        {
            <div class="card">
                <h4>@card.Suit [@card.Id]</h4>
                @card.Description
            </div>
        }
    </div>
</body>
</html>
