@model ThreatModelingGame.Web.Models.IndexModel

@{
    ViewBag.Title = "Elevation of Privilege (EoP) Threat Modeling Card Game";
}

<h2>Welcome</h2>

<p>
    @Html.ActionLink("Start playing", "Details", "Player")
</p>